
<br><br>
<div class="card white">
    <div class="card-content black-text">

        <h5>ACP</h5>
        <p>Admin Control Panel</p><br>

        <a href="/acp/overview" class="waves-effect waves-black btn-flat">Overview</a><br>
        <a href="/acp/user" class="waves-effect waves-black btn-flat">Users</a><br>
        <a href="/acp/rooms" class="waves-effect waves-black btn-flat">Rooms</a><br>
        <a href="/acp/faq" class="waves-effect waves-black btn-flat">FAQ</a><br>

    </div>
</div>